<div class="institution_index_main">
  <h3>医療機関検索フォーム</h1>
  <%= search_form_for @q, url: institutions_path do |f| %>
    <div class="flex_center">
      <div class="search_form_container">
        <div class="addres_cont_container">
          <%= f.label :address_cont, '住所で検索' %>
          <%= f.search_field :address_cont %>
        </div>
        <div class="name_introduction_cont_container">
          <%= f.label :name_or_introduction_cont, '情報で検索' %>
          <%= f.search_field :name_or_introduction_cont %>
        </div>
      </div>
      <div class="search_submit_container">
        <%= f.submit '検　索', class:"search_submit" %>
      </div>
    </div>
  <% end %>
  <div class="institution_index_container">
    <div class="flex_spacebetween">
      <h2>医療機関情報</h2>
      <% if medicalstaff_signed_in? %>
        <%= link_to new_institution_path do %>
          <p class="linkto_institution_new">新規作成</p>
        <% end %>
      <% end %>
    </div>
    <%= render partial: "shared/institution_table", collection: @institution, as: "institution" %>
  </div>
</div>
