<div class="institution_index_main">
  <h3>医療機関検索フォーム</h1>
  <%= search_form_for @q, url: institutions_path do |f| %>
    <%= f.label :name_or_address_cont, '医療機関名' %>
    <%= f.search_field :name_or_address_cont %>
    <%= f.submit '検　索', class:"search_submit" %>
  <% end %>
  <div class="institution_index_container">
    <div class="flex_spacebetween">
      <h2>医療機関情報</h2>
      <% if medicalstaff_signed_in? %>
        <%= link_to new_institution_path do %>
          <p class="linkto_institution_new">新規作成</p>
        <% end %>
      <% end %>
    </div>
    <%= render partial: "shared/institution_table", collection: @institution, as: "institution" %>
  </div>
</div>
