<h2>医療機関情報新規作成</h2>

<%= form_with model: @institution do |f| %>
  <div class="field">
    <%= f.label :postcode, "郵便番号" %><br>
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :prefecture_code, "都道府県" %><br>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, prompt: "都道府県" %>
  </div>
  <div class="field">
    <%= f.label :address_city, "市町村" %><br>
    <%= f.text_field :address_city %>
  </div>
  <div class="field">
    <%= f.label :address_street %><br>
    <%= f.text_field :address_street %>
  </div>
  <div class="field">
    <%= f.label :address_building %><br>
    <%= f.text_field :address_building %>
  </div>
  <div class="field">
    <%= f.submit "登録する" %>
  </div>
<% end %>
