<h2>医療機関情報新規作成</h2>

<%= form_with model: @institution do |f| %>
  <div class="field">
    <%= f.label :postal_code, "郵便番号" %><br>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :prefecture_code, "都道府県" %><br>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, prompt: "都道府県" %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :other_address %><br>
    <%= f.text_field :other_address %>
  </div>
<% end %>
