<div class="institution_show_main">
  <div class="institution_show_container">
    <h2>医療機関情報</h2>
    <div class="flex_spaceevenly">
      <div class="institution_show_info_container">
        <div class="institution_show_name_container">
          <div class= "institution_show_name_label show_label">医療機関名</div>
          <div class="institution_show_name_text show_text"><%= @institution.name %></div>
        </div>
        <div class="institution_show_postcode_container">
          <div class="institution_show_postcode_label show_label">郵便番号</div>
          <div class="institution_show_postcode_text show_text"><%= @institution.postcode.to_s[0,3] %>-<%= @institution.postcode.to_s[3..]%></div>
        </div>
        <div class="institution_show_address_container">
          <div class="institution_show_address_label show_label">住所</div>
          <div class="institution_show_address_text show_text", id="institution_mapping_address"><%= @institution.address %></div>
        </div>
        <div class="institution_show_intro_container">
          <div class="institution_show_intro_label show_label">紹介</div>
          <div class="institution_show_intro_text show_text"><%= @institution.introduction %></div>
        </div>
      </div>
      <div class="institution_show_image_container">
        <% if @institution.image? %>
          <%= image_tag @institution.image.url, alt: "アイコン画像", class: "institution_show_image" %>
        <% else %>
          <%= image_tag "default_institution_image.png", alt: "アイコン画像", class: "default_institution_show_image" %>
        <% end %>
      </div>
    </div>
    <div class="institution_consultationhour_container">
      <div class="institution_show_consultationhour_label show_label">診療時間</div>
      <table class="institution_consultationhour_table">
        <tr>
          <th class="consultationhour_time th_time">時間</th>
          <th class="consultation_monday td_day">月</th>
          <th class="consultation_tuesday td_day">火</th>
          <th class="consultation_wednesday td_day">水</th>
          <th class="consultation_thursday td_day">木</th>
          <th class="consultation_friday td_day">金</th>
          <th class="consultation_saturday td_day">土</th>
          <th class="consultation_sunday td_day">日</th>
          <th class="consultation_holiday td_day">祝</th>
          <% if medicalstaff_signed_in? %>
            <th class="consultation_edit th_edit">編集</th>
            <th class="consultation_destroy th_destroy">削除</th>
          <% end %>
        </tr>
        <% if @consultationhours.exists? %>
          <% @consultationhours.each do |consultationhour| %>
            <tr>
              <td class="consultationhour_time td_time"><%= consultationhour.start_time.to_s(:stamp) %> - <%= consultationhour.end_time.to_s(:stamp) %></td>
              <td class="consultation_monday td_day"><%= consultationhour.monday %></td>
              <td class="consultation_tuesday td_day"><%= consultationhour.tuesday %></td>
              <td class="consultation_wednesday td_day"><%= consultationhour.wednesday %></td>
              <td class="consultation_thursday td_day"><%= consultationhour.thursday %></td>
              <td class="consultation_friday td_day"><%= consultationhour.friday %></td>
              <td class="consultation_saturday td_day"><%= consultationhour.saturday %></td>
              <td class="consultation_sunday td_day"><%= consultationhour.sunday %></td>
              <td class="consultation_holiday td_day"><%= consultationhour.holiday %></td>
              <% if medicalstaff_signed_in? %>
                <td class="consultation_edit td_edit"><%= link_to "修正", edit_consultationhour_path(consultationhour.id) %></td>
                <td class="consultation_destroy td_destroy"><%= link_to "削除", consultationhour, method: :delete, data: {confirm: "本当に削除しますか"} %></td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <div>診療時間が登録されていません</div>
        <% end %>
      </table>
      <div class="consultation_detail_container">
        <% if @consultationhours.exists? %>
          <% @consultationhours.each do |consultationhour| %>
            <%= consultationhour.detail %><br>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if medicalstaff_signed_in? %>
      <div class="flex_spacearound">
        <div class="institution_show_edit"><%= link_to "編　集", edit_institution_path(@institution.id) %></div>
        <div class="institution_show_delete"><%= link_to "削　除", @institution, method: :delete, data: {confirm: "本当に削除しますか"} %></div>
        <div class="institution_consultationhour_create_link"><%= link_to "診療時間を登録する", consultationhour_institution_path(@institution.id) %></div>
      </div>
    <% end %>
  </div>
</div>
<div class="map_container">
  <%#= render "shared/institution_map" %>
</div>
