<div class="institution_show_main">
  <div class="institution_show_container">
    <h2>医療機関情報</h2>
    <%= render "shared/institution_info", institution: @institution %>
    <div class="institution_consultationhour_container">
      <div class="institution_show_consultationhour_label show_label">診療時間</div>
      <% if @consultationhours.exists? %>
        <table class="institution_consultationhour_table">
          <%= render partial: "shared/institution_consultationhour_tablehead" %>
          <%= render partial: "shared/institution_consultationhour_tablebody", collection: @consultationhours, as: "consultationhour" %>
        </table>
      <% else%>
        <div>診療時間が登録されていません</div>
      <% end %>
      <div class="consultation_detail_container">
        <% if @consultationhours.exists? %>
          <% @consultationhours.each do |consultationhour| %>
            <%= consultationhour.detail %><br>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if medicalstaff_signed_in? %>
      <div class="flex_spacearound">
        <div class="institution_show_edit"><%= link_to "編　集", edit_institution_path(@institution.id) %></div>
        <div class="institution_show_delete"><%= link_to "削　除", @institution, method: :delete, data: {confirm: "本当に削除しますか"} %></div>
        <div class="institution_consultationhour_create_link"><%= link_to "診療時間を登録する", consultationhour_institution_path(@institution.id) %></div>
      </div>
    <% end %>
  </div>
</div>
<div class="map_container">
  <%#= render "shared/institution_map" %>
</div>
