<div class="medicalstaff_edit_main">
  <div class="medicalstaff_edit_container">
    <h2>登録情報編集</h2>
    <%= form_with model: @staff do |f| %>
      <div class="medicalstaff_edit_name_container">
        <%= f.label :name, "アカウント名", class: "medicalstaff_name_label" %>
        <%= f.text_field :name, id: "medicalstaff_edit_name" %>
      </div>
      <div class="medicalstaff_edit_address_container">
        <%= f.label :address, "住所", class: "medicalstaff_address_label" %>
        <div class="medicalstaff_address_container">
          <%= f.text_field :address, class: "medicalstaff_address_text_field" %>
        </div>
      </div>
      <%= f.submit "更新する", class: "medicalstaff_edit_submit" %>
    <% end %>
  </div>
</div>
