<div class="medicalstaff_index_main">
  <div class="medicalstaff_index_container">
    <h2>登録情報</h2>
    <div class="medicalstaff_index_name_container">
      <span class="medicalstaff_name_index">アカウント名</span>
      <% if @staff.name? %>
        <%= @staff.name %>
      <% else %>
        アカウント名が登録されていません
      <% end %>
    </div>
    <div class="medicalstaff_index_address_container">
      <span class="medicalstaff_address_index">住所</span>
      <% if @staff.address? %>
        <%= @staff.address %>
      <% else %>
        住所が登録されていません
      <% end %>
    </div>
    <div class="medicalstaff_index_email_container">
      <span class="medicalstaff_email_index">メールアドレス</span>
      <%= @staff.email %>
    </div>
    <div class="medicalstaff_index_password_container">
      <span class="medicalstaff_password_index">パスワード</span>
      <%= "*" * 6 %>
    </div>
    <div class="medicalstaff_index_link_edit">
      <%= link_to "アカウント情報を編集する", edit_medicalstaff_registration_path(@staff.id), class: "medicalstaff_link link_to_medicalstaff_edit" %>
    </div>
    <div class="medicalstaff_index_link_edit">
      <%= link_to "登録情報を編集する", edit_medicalstaff_path(@staff.id), class: "medicalstaff_link link_to_medicalstaff_edit" %>
    </div>
  </div>
</div>
<div class="institution_index_main">
  <div class="institution_index_container">
    <h2>所属医療機関一覧</h2>
    <%= render partial: "shared/institution_table", collection: @staff_institution_list, as: "institution" %>
  </div>
</div>
