<div class="user_login_main">
  <div class="user_login_container">
    <h2>患者様・ご家族様ログイン</h2>
    <%= form_with(model: resource, scope: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <span class="user_login_mail_label">メールアドレス</span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <span class="user_login_password_label">パスワード</span>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <span class="user_login_remember_me">ログイン情報を記憶する</span>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "ログイン", class: "user_login_submit" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
    <div class="user_admin">
      <p class="user_admin_text">テスト用アカウント</p>
      <p class="user_admin_mail">user@user.com</p>
      <p class="user_admin_password">foobar</p>
    </div>
  </div>
</div>
