<div class="user_edit_main">
  <div class="user_edit_container">
    <h2>ユーザープロフィール編集</h2>
    <%= form_with model: @user do |f| %>
      <div class="user_edit_name_container">
        <%= f.label :name, "ユーザー名" %>
        <%= f.text_field :name, id: "user_edit_name" %>
      </div>
      <div class="user_edit_image_container">
        <%= f.label :image, "プロフィール画像", class: "user_image_label" %>
        <div class="user_image_container">
          <% if @user.image? %>
            <%= image_tag @user.image.url, alt: "アイコン画像", class: "user_image" %>
          <% else %>
            <%= image_tag "default_icon.png", alt: "アイコン画像", class: "default_user_image" %>
          <% end %>
        </div>
        <div class="user_image_uploader">
          <%= f.file_field :image, id: "user_edit_image" %>
        </div>
      </div>
      <%= f.submit "更新する", class: "user_edit_submit" %>
    <% end %>
  </div>
</div>
