      <div class="consultationhour_new_day_container">
        <div class="flex_spaceevenly consultationhour_day_container">
          <div class="monday_container">
            <%= f.label :monday, "月曜日", class: "monday_label" %>
            <%= f.select :monday, [["-", "-"], ["●", "●"], ["※", "※"]], class: "day_select" %>
          </div>
          <div class="tuesday_container">
            <%= f.label :tuesday, "火曜日", class: "tuesday_label" %>
            <%= f.select :tuesday, [["-", "-"], ["●", "●"], ["※", "※"]], class: "day_select" %>
          </div>
          <div class="wednesday_container">
            <%= f.label :wednesday, "水曜日", class: "wednesday_label" %>
            <%= f.select :wednesday, [["-", "-"], ["●", "●"], ["※", "※"]], class: "day_select" %>
          </div>
          <div class="thursday_container">
            <%= f.label :thursday, "木曜日", class: "thursday_label" %>
            <%= f.select :thursday, [["-", "-"], ["●", "●"], ["※", "※"]], class: "day_select" %>
          </div>
        </div>
      </div>
      <div class="consultationhour_new_day_container">
        <div class="flex_spaceevenly consultationhour_day_container">
          <div class="friday_container">
            <%= f.label :friday, "金曜日", class: "friday_label" %>
            <%= f.select :friday, [["-", "-"], ["●", "●"], ["※", "※"]], class: "day_select" %>
          </div>
          <div class="saturday_container">
            <%= f.label :saturday, "土曜日", class: "saturday_label" %>
            <%= f.select :saturday, [["-", "-"], ["●", "●"], ["※", "※"]], class: "day_select" %>
          </div>
          <div class="sunday_container">
            <%= f.label :sunday, "日曜日", class: "sunday_label" %>
            <%= f.select :sunday, [["-", "-"], ["●", "●"], ["※", "※"]], class: "day_select" %>
          </div>
          <div class="holiday_container">
            <%= f.label :holiday, "　祝日", class: "holiday_label" %>
            <%= f.select :holiday, [["-", "-"], ["●", "●"], ["※", "※"]], class: "day_select" %>
          </div>
        </div>
      </div>
