<table class="insitution_index_table">
  <thead class="institution_index_table_thead">
    <tr class="institution_index_thead_tr">
      <th class="institution_index_th image_th">画像</th>
      <th class="institution_index_th name_th">名前</th>
      <th class="institution_index_th department_th">診療科目</th>
      <th class="institution_index_th postcode_th">郵便番号</th>
      <th class="institution_index_th address_th">住所</th>
    </tr>
  </thead>
  <tbody class="institution_index_table_tbody">
    <tr class="institution_index_tbody_tr" data-href="/institutions/<%= institution.id%>">
      <td class="institution_index_td image_td">
        <% if institution.image? %>
          <%= image_tag institution.image.url, alt: "クリニック画像", class: "institution_index_image" %>
        <% else %>
          <%= image_tag "default_institution_image.png", class: "institution_index_image" %>
        <% end %>
      </td>
      <td class="institution_index_td name_td"><%= institution.name %></td>
      <td class="institution_index_td department_td"><%= institution.department %></td>
      <td class="institution_index_td postcode_td"><%= institution.postcode.to_s[0,3] %>-<%= institution.postcode.to_s[3..] %></td>
      <td class="institution_index_td address_td"><%= institution.address %></td>
    </tr>
    <% if user_signed_in? %>
      <td class="institution_index_td favorite_td"><%= render "favorites/favorite", institution: institution %></td>
    <% elsif medicalstaff_signed_in? %>
      <td class="institution_index_td staff_institution_td"><%= render "staff_institutions/staff_institutions", institution: institution %></td>
    <% end %>
  </tbody>
</table>
