<div class="consultationhour_new_main">
  <div class="consultationhour_new_container">
    <h2>診療時間編集</h2>
    <div class="consultationhour_new_explanation">
      <div class="">開始時間、終了時間は[00:00]の形式で入力してください</div>
      <div class="">選択した時間に[当てはまる曜日は●]、[当てはまらない曜日は-]、[注釈が必要な場合は※を入力し、詳細欄に説明を記入してください]</div>
      <div class="">例：開始時間8:30　終了時間13:00　月曜日●　火曜日●　水曜日●　木曜日-　金曜日●　土曜日※　日曜日-　祝日-　詳細土曜日は12:30まで</div>
    </div>
    <%= form_with model: @consultationhour do |f|%>
      <div class="start_time_container">
        <%= f.label :start_time, "開始時間", id: "start_time_label" %>
        <%= f.text_field :start_time, value: @consultationhour.start_time.to_s(:stamp), id: "start_time_text" %>
      </div>
      <div class="start_time_container">
        <%= f.label :end_time, "終了時間", id: "end_time_label" %>
        <%= f.text_field :end_time, value: @consultationhour.end_time.to_s(:stamp), id: "end_time_text" %>
      </div>
      <div class="monday_container">
        <%= f.label :monday, "月曜日", id: "monday_label" %>
        <%= f.select :monday, [["-", "-"], ["●", "●"], ["※", "※"]], id: "monday_select" %>
      </div>
      <div class="tuesday_container">
        <%= f.label :tuesday, "火曜日", id: "tuesday_label" %>
        <%= f.select :tuesday, [["-", "-"], ["●", "●"], ["※", "※"]], id: "tuesday_select" %>
      </div>
      <div class="wednesday_container">
        <%= f.label :wednesday, "水曜日", id: "wednesday_label" %>
        <%= f.select :wednesday, [["-", "-"], ["●", "●"], ["※", "※"]], id: "wednesdayselect" %>
      </div>
      <div class="thursday_container">
        <%= f.label :thursday, "木曜日", id: "thursday_label" %>
        <%= f.select :thursday, [["-", "-"], ["●", "●"], ["※", "※"]], id: "thursday_select" %>
      </div>
      <div class="friday_container">
        <%= f.label :friday, "金曜日", id: "friday_label" %>
        <%= f.select :friday, [["-", "-"], ["●", "●"], ["※", "※"]], id: "friday_select" %>
      </div>
      <div class="saturday_container">
        <%= f.label :saturday, "土曜日", id: "saturday_label" %>
        <%= f.select :saturday, [["-", "-"], ["●", "●"], ["※", "※"]], id: "saturday_select" %>
      </div>
      <div class="sunday_container">
        <%= f.label :sunday, "日曜日", id: "sunday_label" %>
        <%= f.select :sunday, [["-", "-"], ["●", "●"], ["※", "※"]], id: "sunday_select" %>
      </div>
      <div class="holiday_container">
        <%= f.label :holiday, "祝日", id: "holiday_label" %>
        <%= f.select :holiday, [["-", "-"], ["●", "●"], ["※", "※"]], id: "holiday_select" %>
      </div>
      <div class="detail_container">
        <%= f.label :detail, "詳細", id: "detail_label" %>
        <%= f.text_area :detail, id: "detail_text" %>
      </div>
      <div class="consultationhour_submit_container">
        <%= f.submit "登録する", class: "consultationhour_submit" %>
      </div>
    <% end %>
  </div>
</div>
