<div class="medicalstaff_registration_main">
  <div class="medicalstaff_registration_container">
    <h2>アカウント情報変更</h2>
    <%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "medicalstaffs/shared/error_messages", resource: resource %>
      <div class="field">
        <span class="medicalstaff_registration_mail_label">メールアドレス</span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "edit_user_registratin_email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <span class="medicalstaff_registration_password_label">新規パスワード
          <% if @minimum_password_length %>
            <span>(<%= @minimum_password_length %>文字以上)</span>
          <% end %>
        </span>
        <%= f.password_field :password, autocomplete: "new-password", id: "edit_user_registratin_password" %>
      </div>
      <div class="field">
        <span class="medicalstaff_registration_password_confirmation_label">新規パスワード(確認用)</span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "edit_user_registratin_confirm_password" %>
      </div>
      <div class="field">
        <span class="medicalstaff_registration_current_password_label">現在のパスワード</span>
        <%= f.password_field :current_password, autocomplete: "current-password", id: "edit_user_current_password" %>
      </div>
      <div class="actions">
        <%= f.submit "アカウント情報を更新する", class: "medicalstaff_registration_submit" %>
      </div>
    <% end %>
    <div class="delete_account_container">
      <%= button_to "アカウント情報を全て削除する", registration_path(resource_name), data: { confirm: "この操作は取消しできません。よろしいですか？" }, method: :delete, class: "delete_account_button" %>
      <%= link_to "戻る", :back, class: "link_to_back" %>
    </div>
  </div>
</div>
