<!DOCTYPE html>
<html>
  <head>
    <title>SearchMedical</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="top_bar">
        <div class="top_title_container">
          <h2 class="page_title">医療機関検索</h2>
          <% if user_signed_in? %>
            <div class="user_info_link"><%= link_to "詳しい使い方", top_user_info_path %></div>
          <% elsif medicalstaff_signed_in? %>
            <div class="medicalstaff_info_link"><%= link_to "医療機関関係者へ", top_medicalstaff_info_path %></div>
          <% end %>
        </div>
        <div class="link_home"><%= link_to "home", root_path %></div>
        <div class="link_institution"><%= link_to "医療機関情報", institutions_path %></div>
        <% if user_signed_in? %>
          <%= render "shared/header_user_sign_in" %>
        <% elsif medicalstaff_signed_in? %>
          <%= render "shared/header_medicalstaff_sign_in" %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="user_nemu_content">
          <div class="link_users_path"><%= link_to "プロフィール", users_path %></div>
          <div class="logout_users"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
        </div>
      <% elsif medicalstaff_signed_in? %>
      <% end %>
    </header>
    <% if flash.notice %>
      <div class="flash_notice font_large red">
        <%= flash.notice %>
      </div>
    <% end %>
    <%= yield %>
    <div class="footer">
    </div>
  </body>
</html>
