<div class="user_registration_main">
  <div class="user_registration_container">
    <h2>患者様・ご家族様新規登録</h2>
    <%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field">
        <span class="user_registration_name_label">ユーザー名</span>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div class="field">
        <span class="user_registration_mail_label">メールアドレス</span>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      <div class="field">
        <span class="user_registration_password_label">パスワード
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </span>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <span class="user_registration_password_confirmation_label">パスワード(確認用)</span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="actions">
        <%= f.submit "新規登録", class: "user_registration_submit" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
    <div class="user_admin">
      <p class="user_admin_text">テスト用アカウント</p>
      <p class="user_admin_mail">user@user.com</p>
      <p class="user_admin_password">foobar</p>
    </div>
  </div>
</div>
